In [3]:
import pandas as pd
import re
import os

In [4]:
os.chdir("/Users/yumeng.zou/Google Drive/Freshyear/Summer/Research/")

In [5]:
JQ25=pd.read_csv("JQ25 diary.csv")
JQ25.head()

,Date,Weather,Time,Type,Direction,Place,Note,Participants
0,JQ25-01-1,晴暖,Morning,Occasion,NaN,NaN,Ancestor,NaN
1,JQ25-01-1,NaN,Morning,Occasion,NaN,大宅,拜年,NaN
2,JQ25-01-1,NaN,Morning,Occasion,NaN,各衙门,拜年,NaN
3,JQ25-01-1,NaN,Morning,Occasion,NaN,志局,拜年,NaN
4,JQ25-01-1,NaN,Morning,Occasion,NaN,三宅,拜年,NaN

In [4]:
for r in JQ25[['Type','Note']].iterrows():
    print r[1]
    break

Type    Occasion
Note    Ancestor
Name: 0, dtype: object

In [5]:
def visit(ser):
    if ser['Type']=='Visiting' or ser['Type']=='Visited':
        if ser['Type']=='Visiting':
            ser['Direction']='to'
        else:
            ser['Direction']='from'
        ser['Type']='Visit'
    return ser

In [10]:
JQ25[['Type','Direction']].apply(visit,axis=1)

           Type Direction
0      Occasion  Ancestor
1      Occasion       NaN
2      Occasion       NaN
3      Occasion       NaN
4      Occasion       NaN
5       Reading        校看
6         Visit        to
7     Go_places       NaN
8     Go_places       NaN
9         Visit        to
10       Letter      Send
11        Visit      from
12         Chat       NaN
13     Painting       NaN
14     Painting       NaN
15        Visit      from
16      Invited        No
17        Visit      from
18         Chat       NaN
19        Visit      from
20        Visit        to
21      Invited        No
22         Chat       NaN
23        Visit      from
24      Invited        No
25        Visit        to
26         Meal       NaN
27     Painting       NaN
28     Painting       NaN
29        Visit      from
...         ...       ...
1524        NaN       NaN
1525        NaN       NaN
1526        NaN       NaN
1527        NaN       NaN
1528        NaN       NaN
1529        NaN       NaN
1530        NaN       NaN
1531        NaN       NaN
1532        NaN       NaN
1533        NaN       NaN
1534        NaN       NaN
1535        NaN       NaN
1536        NaN       NaN
1537        NaN       NaN
1538        NaN       NaN
1539        NaN       NaN
1540        NaN       NaN
1541        NaN       NaN
1542        NaN       NaN
1543        NaN       NaN
1544        NaN       NaN
1545        NaN       NaN
1546        NaN       NaN
1547        NaN       NaN
1548        NaN       NaN
1549        NaN       NaN
1550        NaN       NaN
1551        NaN       NaN
1552        NaN       NaN
1553        NaN       NaN

[1554 rows x 2 columns]

In [6]:
def art(ser):
    if ser['Type']=='Painting' or ser['Type']=='寫字':
        ser['Type']='Art'
    if ser['Type']=='writing_for':
        ser['Type']='Art'
        ser['Direction']='for'
    return ser

In [16]:
JQ25[['Type','Direction']].apply(art,axis=1)

           Type Direction
0      Occasion  Ancestor
1      Occasion       NaN
2      Occasion       NaN
3      Occasion       NaN
4      Occasion       NaN
5       Reading        校看
6      Visiting       Yes
7     Go_places       NaN
8     Go_places       NaN
9      Visiting       Yes
10       Letter      Send
11      Visited       Yes
12         Chat       NaN
13          Art       NaN
14          Art       NaN
15      Visited       Yes
16      Invited        No
17      Visited       Yes
18         Chat       NaN
19      Visited       Yes
20     Visiting       Yes
21      Invited        No
22         Chat       NaN
23      Visited        No
24      Invited        No
25     Visiting       Yes
26         Meal       NaN
27          Art       NaN
28          Art       NaN
29      Visited       Yes
...         ...       ...
1524        NaN       NaN
1525        NaN       NaN
1526        NaN       NaN
1527        NaN       NaN
1528        NaN       NaN
1529        NaN       NaN
1530        NaN       NaN
1531        NaN       NaN
1532        NaN       NaN
1533        NaN       NaN
1534        NaN       NaN
1535        NaN       NaN
1536        NaN       NaN
1537        NaN       NaN
1538        NaN       NaN
1539        NaN       NaN
1540        NaN       NaN
1541        NaN       NaN
1542        NaN       NaN
1543        NaN       NaN
1544        NaN       NaN
1545        NaN       NaN
1546        NaN       NaN
1547        NaN       NaN
1548        NaN       NaN
1549        NaN       NaN
1550        NaN       NaN
1551        NaN       NaN
1552        NaN       NaN
1553        NaN       NaN

[1554 rows x 2 columns]

In [16]:
def invite(ser):
    if ser['Type']=='Inviting' or ser['Type']=='Invited':
        if ser['Type']=='Inviting':
            ser['Direction']='to'
        else:
            ser['Direction']='from'
        ser['Type']='Invitation'
    return ser

In [17]:
JQ25[['Type','Direction']].apply(invite,axis=1)

            Type Direction
0       Occasion       NaN
1       Occasion       NaN
2       Occasion       NaN
3       Occasion       NaN
4       Occasion       NaN
5        Reading       NaN
6       Visiting       NaN
7      Go_places       NaN
8      Go_places       NaN
9       Visiting       NaN
10        Letter       NaN
11       Visited       NaN
12          Chat       NaN
13      Painting       NaN
14      Painting       NaN
15       Visited       NaN
16    Invitation      from
17       Visited       NaN
18          Chat       NaN
19       Visited       NaN
20      Visiting       NaN
21    Invitation      from
22          Chat       NaN
23       Visited       NaN
24    Invitation      from
25      Visiting       NaN
26          Meal       NaN
27      Painting       NaN
28      Painting       NaN
29       Visited       NaN
...          ...       ...
1524         NaN       NaN
1525         NaN       NaN
1526         NaN       NaN
1527         NaN       NaN
1528         NaN       NaN
1529         NaN       NaN
1530         NaN       NaN
1531         NaN       NaN
1532         NaN       NaN
1533         NaN       NaN
1534         NaN       NaN
1535         NaN       NaN
1536         NaN       NaN
1537         NaN       NaN
1538         NaN       NaN
1539         NaN       NaN
1540         NaN       NaN
1541         NaN       NaN
1542         NaN       NaN
1543         NaN       NaN
1544         NaN       NaN
1545         NaN       NaN
1546         NaN       NaN
1547         NaN       NaN
1548         NaN       NaN
1549         NaN       NaN
1550         NaN       NaN
1551         NaN       NaN
1552         NaN       NaN
1553         NaN       NaN

[1554 rows x 2 columns]

In [24]:
def go(s):
    if s=='Go_places' or s=='go':
        s='Go'
    return s

In [25]:
JQ25['Type'].map(go)

0       Occasion
1       Occasion
2       Occasion
3       Occasion
4       Occasion
5        Reading
6       Visiting
7             Go
8             Go
9       Visiting
10        Letter
11       Visited
12          Chat
13      Painting
14      Painting
15       Visited
16       Invited
17       Visited
18          Chat
19       Visited
20      Visiting
21       Invited
22          Chat
23       Visited
24       Invited
25      Visiting
26          Meal
27      Painting
28      Painting
29       Visited
          ...
1524         NaN
1525         NaN
1526         NaN
1527         NaN
1528         NaN
1529         NaN
1530         NaN
1531         NaN
1532         NaN
1533         NaN
1534         NaN
1535         NaN
1536         NaN
1537         NaN
1538         NaN
1539         NaN
1540         NaN
1541         NaN
1542         NaN
1543         NaN
1544         NaN
1545         NaN
1546         NaN
1547         NaN
1548         NaN
1549         NaN
1550         NaN
1551         NaN
1552         NaN
1553         NaN
Name: Type, dtype: object

In [29]:
def gift(ser):
    if ser['Type']=='Gift_received' or ser['Type']=='Gift_sent':
        if ser['Type']=='Gift_received':
            ser['Direction']='from'
        else:
            ser['Direction']='to'
        ser['Type']='Gift'
    return ser

In [30]:
JQ25[['Type','Direction']].apply(gift,axis=1)

           Type Direction
0      Occasion       NaN
1      Occasion       NaN
2      Occasion       NaN
3      Occasion       NaN
4      Occasion       NaN
5       Reading       NaN
6      Visiting       NaN
7     Go_places       NaN
8     Go_places       NaN
9      Visiting       NaN
10       Letter       NaN
11      Visited       NaN
12         Chat       NaN
13     Painting       NaN
14     Painting       NaN
15      Visited       NaN
16      Invited       NaN
17      Visited       NaN
18         Chat       NaN
19      Visited       NaN
20     Visiting       NaN
21      Invited       NaN
22         Chat       NaN
23      Visited       NaN
24      Invited       NaN
25     Visiting       NaN
26         Meal       NaN
27     Painting       NaN
28     Painting       NaN
29      Visited       NaN
...         ...       ...
1524        NaN       NaN
1525        NaN       NaN
1526        NaN       NaN
1527        NaN       NaN
1528        NaN       NaN
1529        NaN       NaN
1530        NaN       NaN
1531        NaN       NaN
1532        NaN       NaN
1533        NaN       NaN
1534        NaN       NaN
1535        NaN       NaN
1536        NaN       NaN
1537        NaN       NaN
1538        NaN       NaN
1539        NaN       NaN
1540        NaN       NaN
1541        NaN       NaN
1542        NaN       NaN
1543        NaN       NaN
1544        NaN       NaN
1545        NaN       NaN
1546        NaN       NaN
1547        NaN       NaN
1548        NaN       NaN
1549        NaN       NaN
1550        NaN       NaN
1551        NaN       NaN
1552        NaN       NaN
1553        NaN       NaN

[1554 rows x 2 columns]

In [31]:
def recreation(s):
    if s=='Theater' or s=='彈琴':
        s='Recreation'
    return s

In [32]:
JQ25['Type'].map(recreation)

0        Occasion
1        Occasion
2        Occasion
3        Occasion
4        Occasion
5         Reading
6        Visiting
7       Go_places
8       Go_places
9        Visiting
10         Letter
11        Visited
12           Chat
13       Painting
14       Painting
15        Visited
16        Invited
17        Visited
18           Chat
19        Visited
20       Visiting
21        Invited
22           Chat
23        Visited
24        Invited
25       Visiting
26           Meal
27       Painting
28       Painting
29        Visited
          ...
1524          NaN
1525          NaN
1526          NaN
1527          NaN
1528          NaN
1529          NaN
1530          NaN
1531          NaN
1532          NaN
1533          NaN
1534          NaN
1535          NaN
1536          NaN
1537          NaN
1538          NaN
1539          NaN
1540          NaN
1541          NaN
1542          NaN
1543          NaN
1544          NaN
1545          NaN
1546          NaN
1547          NaN
1548          NaN
1549          NaN
1550          NaN
1551          NaN
1552          NaN
1553          NaN
Name: Type, dtype: object

In [35]:
def occasion(ser):
    l=['道喜','道壽','Celebrate','Send_off','拜年']
    if ser['Type'] in l:
        ser=['Occasion',ser['Type']]
    return ser

In [36]:
JQ25[['Type','Direction']].apply(occasion,axis=1)

           Type Direction
0      Occasion       NaN
1      Occasion       NaN
2      Occasion       NaN
3      Occasion       NaN
4      Occasion       NaN
5       Reading       NaN
6      Visiting       NaN
7     Go_places       NaN
8     Go_places       NaN
9      Visiting       NaN
10       Letter       NaN
11      Visited       NaN
12         Chat       NaN
13     Painting       NaN
14     Painting       NaN
15      Visited       NaN
16      Invited       NaN
17      Visited       NaN
18         Chat       NaN
19      Visited       NaN
20     Visiting       NaN
21      Invited       NaN
22         Chat       NaN
23      Visited       NaN
24      Invited       NaN
25     Visiting       NaN
26         Meal       NaN
27     Painting       NaN
28     Painting       NaN
29      Visited       NaN
...         ...       ...
1524        NaN       NaN
1525        NaN       NaN
1526        NaN       NaN
1527        NaN       NaN
1528        NaN       NaN
1529        NaN       NaN
1530        NaN       NaN
1531        NaN       NaN
1532        NaN       NaN
1533        NaN       NaN
1534        NaN       NaN
1535        NaN       NaN
1536        NaN       NaN
1537        NaN       NaN
1538        NaN       NaN
1539        NaN       NaN
1540        NaN       NaN
1541        NaN       NaN
1542        NaN       NaN
1543        NaN       NaN
1544        NaN       NaN
1545        NaN       NaN
1546        NaN       NaN
1547        NaN       NaN
1548        NaN       NaN
1549        NaN       NaN
1550        NaN       NaN
1551        NaN       NaN
1552        NaN       NaN
1553        NaN       NaN

[1554 rows x 2 columns]

In [1]:
def banquet(s):
    if s=='Meal' or s=='飲':
        s=='Banquet'
    return s

In [7]:
JQ25['Type'].map(banquet)

0        Occasion
1        Occasion
2        Occasion
3        Occasion
4        Occasion
5         Reading
6        Visiting
7       Go_places
8       Go_places
9        Visiting
10         Letter
11        Visited
12           Chat
13       Painting
14       Painting
15        Visited
16        Invited
17        Visited
18           Chat
19        Visited
20       Visiting
21        Invited
22           Chat
23        Visited
24        Invited
25       Visiting
26           Meal
27       Painting
28       Painting
29        Visited
          ...
1524          NaN
1525          NaN
1526          NaN
1527          NaN
1528          NaN
1529          NaN
1530          NaN
1531          NaN
1532          NaN
1533          NaN
1534          NaN
1535          NaN
1536          NaN
1537          NaN
1538          NaN
1539          NaN
1540          NaN
1541          NaN
1542          NaN
1543          NaN
1544          NaN
1545          NaN
1546          NaN
1547          NaN
1548          NaN
1549          NaN
1550          NaN
1551          NaN
1552          NaN
1553          NaN
Name: Type, dtype: object

In [8]:
def chat(s):
    if s=='談禪':
        s=='Chat'
    return s